.App-container {
  text-align: center;
  background-color: #0288d1;

}

.App-header {
  background-color: #222;
  height: 170px;
  padding: 20px;
  color: white;
}

/*.App-intro {
  font-size: large;
}*/
/*
.fa {
  position: absolute;
  top: 30px;
  right: 20px;
  margin-right: 20px
}*/

.buttonLabel {
  color: white;
  position: absolute;
  top: 30px;
  right: 100px;
  text-align: right;
}


.box {
  text-align: left;
}

.container {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 70px;
}

h3 {
  color: #4e342e;
  font-weight: 100;
}
