#singleMovie {
  padding: 1rem;
  background-color: rgba(51, 153, 225, 0.2);
  margin: 5px;
  height: 300px;
  width: 190px;
}

img {
  width: 75%;
  height: 60%;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

.title {
  height: 54px;
}

h5 {
  font-size: 20px;
  margin: 0;
}
