img {
  width: 50%;
}

#singleMovie {
  padding: 1rem;
  background-color: rgba(51, 153, 225, 0.2);
  margin: 5px;
  height: 250px;
  width: 23%;
}

img {
  width: 75%;
  height: 125px;
}

.title {
  height: 54px;
}

h5 {
  font-size: 20px;
}
